.DS_Store
**/target
/script/out
**/*.swp
.terraform
*.tfstate*
*.terraform.lock.hcl*
.envrc
.direnv
.cov
lcov.info
.env
.env.mainnet
.env.testnet
node_modules/
docker/db*
tmp
**/**/docker/db*
build_rs_cov.profraw
profile.json
.rust-version
coverage/
docs/
**/**/charts/**.tgz
values-publisher-secrets.yaml
values-publisher-env.yaml
localstack-data
.vscode
dist

**/Cargo.lock
!./Cargo.lock

.ignored
scripts-custom
aj

**/secret.yaml
**/secret-mainnet.yaml
**/secret-testnet.yaml

**/values-mainnet-secret.yaml
**/values-testnet-secret.yaml


**/charts
Chart.lock